/* Custom banner and side styling (for example; changes from blue to green) */
.global-bar--warning {
    background-color: #ffdd00;

	.global-bar-message-container {
		.global-bar__dismiss {
			color: inherit;
		}
	}
}
.global-bar__dismiss--show {
  display:none !important;
}
.js-enabled {
  .global-bar__dismiss--show {
    display:block !important;
  }
}
@media (max-width: 48.0525em) {
    .global-bar {
      .global-bar-message-container {
        .global-bar__dismiss {
          margin-left:50px;
          float: left;
          position: relative;
          margin-top:10px;
        }
        .govuk-warning-text__icon {
          top:45%;
          margin-top:0;
        }
      }
    }
}
