.ec-hero {
    background-color: #207e77;
    color: #ffffff;
    padding: 40px 0;

    * {
        color: #ffffff;
    }

    input, select {
        border: none !important;
        color: black;
    }

    option {
        color: black;
    }

    button {
        background-color: black;

        &:hover {
            background-color: black;
            text-decoration: underline;
        }
    }
    .govuk-heading-xl {
        margin: 0 0 30px 0;
        color: #FFFFFF;
    }
    p {
        color: #FFFFFF;
        a {
            font-weight: bold;
            color: #FFFFFF;
        }
    }}

.govuk-header__container {
    border-bottom: 10px solid transparent;
}

.govuk-header  {
    border-bottom: none;
}