@model Sfa.Careers.Web.Modules.Mvc.Models.FooterWidget.FooterViewModel
<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
       @Html.Raw(Model.FooterContent)
    </div>
</footer>
