// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';


// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";


//import component styles
@import "./components/all.scss";

body * {
    box-sizing: border-box;
}

main {
    position: relative;
}
// Add extra styles here
iframe {
    width: 1px;
    min-width: 100%;
    border: none;
}

.govuk-main-wrapper {
    position: relative;
}

.app-copy-button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    min-width: 110px;
    padding: 4px 10px 2px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: $background_white;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

@media print {
    .app-copy-button {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-copy-button {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .app-copy-button {
        font-size: 14pt;
        line-height: 1.2
    }
}

.app-copy-button:active {
    margin-top: 2px;
}

.app-copy-button:active,
.app-copy-button:focus {
    padding: 2px 10px;
    border: 2px solid $focus_yellow;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.app-copy-button:focus:not(:hover) {
    color: $primary_black;
    background-color: $focus_yellow;
    -webkit-box-shadow: 0 2px 0 0 $primary_black;
    box-shadow: 0 2px 0 0 $primary_black;
}

.app-example {
    background-color: $background_white;
    border: 1px solid #b1b4b6;
    position: relative;
    overflow: auto;
    padding: 30px 0;
}

.app-example__frame {
    background-color: $background_white;
    border: 0;
    display: block;
    width: 100%
}

.app-example-page {
    margin-bottom: -1px;
    padding: 30px;
    position: relative
}

.app-example__new-window {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25;
    border: 1px solid #b1b4b6;
    position: absolute;
    top: -1px;
    left: -1px
}

@media print {
    .app-example__new-window {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-example__new-window {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.4285714286
    }
}

@media print {
    .app-example__new-window {
        font-size: 12pt;
        line-height: 1.2
    }
}

.app-example__new-window a, .app-example__new-window a:link, .app-example__new-window a:visited {
    background-color: $background_white;
    color: #1d70b8;
    display: block;
    padding: 5px 10px;
    text-decoration: none
}

.app-example__new-window a:hover {
    color: #5694ca
}

.app-example__new-window a:focus {
    background-color: $focus_yellow
}

@media(min-width: 40.0625em) {
    .app-flex-container {
        display: flex
    }
}

.app-prose-scope img {
    border: 1px solid #b1b4b6;
    max-width: 100%
}

.app-prose-scope code:not([class*=language-]) {
    padding: 0 5px;
    color: #c62950;
    background-color: #f3f2f1;
    font-family: monospace,monospace;
    font-size: 1em
}

.app-prose-scope strong, .app-prose-scope b {
    font-weight: 700
}

.app-prose-scope table {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: $primary_black;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%
}

@media print {
    .app-prose-scope table {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-prose-scope table {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-prose-scope table {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media print {
    .app-prose-scope table {
        color: #000
    }
}

@media(min-width: 40.0625em) {
    .app-prose-scope table {
        margin-bottom: 30px
    }
}

.app-prose-scope th {
    font-weight: 700;
    border-bottom: 1px solid #b1b4b6;
    padding: .5263157895em 1.0526315789em .5263157895em 0;
    text-align: left
}

.app-prose-scope td {
    border-bottom: 1px solid #b1b4b6;
    padding: .5263157895em 1.0526315789em .5263157895em 0;
    text-align: left
}

.app-prose-scope th:last-child, .app-prose-scope td:last-child {
    padding-right: 0
}

.app-prose-scope caption {
    font-weight: 700;
    display: table-caption;
    text-align: left
}

pre {
    margin-bottom: 15px;
    background: #f8f8f8;
    font-size: 16px;
    margin: 0;
    padding: 15px;
    position: relative;
    overflow: auto
}

@media(min-width: 40.0625em) {
    pre {
        margin-bottom: 20px
    }
}

.app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1d70b8;
    color: $text_white;
    margin-top: -1px
}

@media(min-width: 40.0625em) {
    .app-masthead {
        padding-top: 30px
    }
}

@media(min-width: 40.0625em) {
    .app-masthead {
        padding-bottom: 30px
    }
}

.app-masthead__title {
    margin-bottom: 20px;
    color: $text_white !important;
    max-width: 1057px
}

@media(min-width: 40.0625em) {
    .app-masthead__title {
        margin-bottom: 30px
    }
}

.app-masthead__description {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    color: $text_white !important;
    margin-bottom: 0;
    max-width: 793px
}

@media print {
    .app-masthead__description {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-masthead__description {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .app-masthead__description {
        font-size: 18pt;
        line-height: 1.15
    }
}

.app-masthead__button, .app-masthead__button:link, .app-masthead__button:visited {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    background-color: $background_white;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.5);
    color: #1d70b8;
    display: block;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none
}

@media print {
    .app-masthead__button, .app-masthead__button:link, .app-masthead__button:visited {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-masthead__button, .app-masthead__button:link, .app-masthead__button:visited {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .app-masthead__button, .app-masthead__button:link, .app-masthead__button:visited {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media(min-width: 48.0625em) {
    .app-masthead__button, .app-masthead__button:link, .app-masthead__button:visited {
        display: inline-block
    }
}

.app-masthead__button:focus {
    background-color: $focus_yellow;
    color: $primary_black;
    box-shadow: 0 -2px $focus_yellow,0 4px $primary_black
}

.app-masthead__button:hover {
    color: #1d70b8;
    background-color: #e8f1f8
}

.app-masthead__button__icon {
    margin-left: 5px;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

@media(min-width: 48.0625em) {
    .app-masthead__button__icon {
        margin-left: 10px
    }
}

.app-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1d70b8;
    color: $text_white;
}

@media(min-width: 40.0625em) {
    .app-panel {
        margin-top: 30px
    }
}

@media(min-width: 40.0625em) {
    .app-panel {
        margin-bottom: 30px
    }
}

.app-panel__heading, .app-panel__body {
    color: $text_white;
}

.app-panel__body {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0
}

@media print {
    .app-panel__body {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-panel__body {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-panel__body {
        font-size: 14pt;
        line-height: 1.15
    }
}

.app-panel__link:link, .app-panel__link:active, .app-panel__link:visited {
    color: $text_white;
}

.app-panel__link:hover {
    color: #c5dff6
}

.app-panel__link:focus {
    color: $primary_black
}

.app-tabs {
    background: $background_white;
    margin-bottom: 30px;
    position: relative;
}

.app-tabs__list {
    border: 1px solid #b1b4b6;
    border-top: 0;
    list-style: none;
    margin: 0;
    padding: 0
}

.app-prose-scope .app-tabs__list {
    font-size: 0;
    margin: 0;
    padding: 0
}

.app-tabs__list-item {
    border-right: 1px solid #b1b4b6;
    display: inline-block;
    margin: 0
}

.app-prose-scope .app-tabs__list-item {
    margin-bottom: 0
}

.app-tabs__tab {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: $background_white;
    color: #1d70b8;
    display: block;
    padding: 20px;
    position: relative;
    text-decoration: none
}

@media print {
    .app-tabs__tab {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-tabs__tab {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-tabs__tab {
        font-size: 14pt;
        line-height: 1.15
    }
}

.app-tabs__tab:link, .app-tabs__tab:active, .app-tabs__tab:visited {
    background-color: $background_white;
    color: #1d70b8
}

.app-prose-scope .app-tabs__tab:link, .app-prose-scope .app-tabs__tab:active, .app-prose-scope .app-tabs__tab:visited {
    color: #1d70b8
}

.app-prose-scope .app-tabs__tab:hover {
    color: #5694ca
}

.app-tabs__tab:focus {
    z-index: 2
}

.app-prose-scope .app-tabs__tab:focus {
    color: $primary_black;
    background-color: $focus_yellow;
    box-shadow: 0 -2px $focus_yellow,0 4px $primary_black;
    border-color: $primary_black
}

.app-tabs__tab[aria-selected=true] {
    background-color: #f3f2f1;
    color: $primary_black;
    margin-bottom: -1px;
    padding-bottom: 21px
}

.app-prose-scope .app-tabs__tab[aria-selected=true] {
    color: $primary_black
}

.app-tabs__panel {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    background-color: #f3f2f1;
    border: 1px solid #b1b4b6;
    border-top: 0;
    position: relative
}

@media print {
    .app-tabs__panel {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-tabs__panel {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .app-tabs__panel {
        font-size: 14pt;
        line-height: 1.2
    }
}

.app-tabs__panel--hidden {
    display: none
}

.app-tabs__panel *:last-of-type {
    margin-bottom: 0
}

.app-tabs__panel p {
    max-width: 100% !important;
    padding: 10px
}

// Remove paddng to align service name and header nav
.govuk-header__content {
    padding-left: 0;
}

//  Remove the crown logo
.govuk-header__logo {
    display: none;
}

.app-prose-scope a, .app-prose-scope ul a, .app-prose-scope ol a, .govuk-link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline
}

/*! Copyright (c) 2011 by Margaret Calvert & Henrik Kubel. All rights reserved. The font has been customised for exclusive use on gov.uk. This cut is not commercially available. */
@font-face {
    font-family: "GDS Transport";
    font-style: normal;
    font-weight: normal;
    src: url($govuk-assets-path + "/fonts/light-94a07e06a1-v2.woff2") format("woff2"),url($govuk-assets-path + "/fonts/light-f591b13f7d-v2.woff") format("woff");
    font-display: fallback
}

@font-face {
    font-family: "GDS Transport";
    font-style: normal;
    font-weight: bold;
    src: url($govuk-assets-path + "/fonts/bold-b542beb274-v2.woff2") format("woff2"),url($govuk-assets-path + "/fonts/bold-affa96571d-v2.woff") format("woff");
    font-display: fallback
}

@media print {
    .app-prose-scope a, .app-prose-scope ul a, .app-prose-scope ol a, .govuk-link {
        font-family: sans-serif
    }
}

.app-prose-scope a:focus, .govuk-link:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: $primary_black;
    background-color: $focus_yellow;
    box-shadow: 0 -2px $focus_yellow,0 4px $primary_black;
    text-decoration: none
}

.app-prose-scope a:link, .govuk-link:link {
    color: #1d70b8
}

.app-prose-scope a:visited, .govuk-link:visited {
    color: #4c2c92
}

.app-prose-scope a:hover, .govuk-link:hover {
    color: #003078
}

.app-prose-scope a:active, .govuk-link:active {
    color: $primary_black
}

.app-prose-scope a:focus, .govuk-link:focus {
    color: $primary_black
}

@media print {
    .app-prose-scope a[href^="/"]:after, [href^="/"].govuk-link:after, .app-prose-scope a[href^="http://"]:after, [href^="http://"].govuk-link:after, .app-prose-scope a[href^="https://"]:after, [href^="https://"].govuk-link:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word
    }
}


pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
    color: #24292e;
    background: #fff
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
    color: #d73a49
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
    color: #6f42c1
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
    color: #005cc5
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #d73a49
}

.hljs-built_in, .hljs-symbol {
    color: #e36209
}

.hljs-code, .hljs-comment, .hljs-formula {
    color: #6a737d
}

.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
    color: #22863a
}

.hljs-subst {
    color: #24292e
}

.hljs-section {
    color: #005cc5;
    font-weight: 700
}

.hljs-bullet {
    color: #735c0f
}

.hljs-emphasis {
    color: #24292e;
    font-style: italic
}

.hljs-strong {
    color: #24292e;
    font-weight: 700
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
}

.app-width-container {
    max-width: 1220px;
}

.app-example-wrapper {
    background-color: $background_white;
    position: relative;
}
