// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-header__logo {
    display: none;
}

.govuk-header__content {
    width: 100%;
}

.govuk-phase-banner__content__tag__prototype {
    background-color: #DD1688;
}

.course-details {
    font-size: 16px;
}

.primary-hero {
    padding: 15;
}

.primary-hero .input-wrapper {
    width: 100%;
}

.fac-main-wrapper {
    padding-top: 40px;
}
@media (min-width: 40.0625em){
    .fac-main-wrapper {
        padding-top: 60px;
    }
}
.fac-search-hero .govuk-width-container {
    padding: 0;
}

.fac-search-results-list {
    clear: both;
}

.fac-search-sort {
    display: block;
    float: right;
}

.fac-search-sort label.govuk-label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.fac-show-courses-count {
    display: block;
    float: left;
    padding-top: 0.5rem;
}

.fac-search-label {
    color: white !important;
    text-indent: 0;
    position: relative;
}

.fac-endscreen {
    position: relative;
    display: block;
}

.fac-proto-img__endscreen {
    width: 100%;
}

.fac-endscreen-backlink {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.fac-proto-watermark {
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    color: #dddddd;
    opacity: 60%;
    font-size: 7em;
    transform: rotate(-45deg);
    top: 10%;
    left: 5%;
    overflow: hidden;
}

.fac-proto-success-banner {
    width: 90%;
    position: absolute;
    color: white;
    opacity: 80%;
    font-size: 3em;
    top: 20%;
    left: 0;
    overflow: hidden;
    background: green;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    transform: rotate(-30deg);
}

.fac-proto-goback-banner {
    width: 90%;
    position: absolute;
    color: white;
    opacity: 80%;
    font-size: 3em;
    top: 20%;
    left: 0;
    overflow: hidden;
    background: grey;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    transform: rotate(-30deg);
}

.fac-feature-box {
    padding: 30px 30px 10px 30px;
    margin-top: 0;
    margin-bottom: 60px;
    background-color: #f3f2f1;
}
.fac-feature-box__image {
    background-color: white;
}

.fac-feature-box__card {
    padding: 0;
}

.fac-feature-box__content > img {
    width: 320px;
    height: 213.5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.fac-feature-box__content h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
}
.fac-feature-box__content p{
    font-size: 16px;
    line-height: 20px;
}
@media (min-width: 40.0625em){
    .fac-feature-box {
        margin-bottom: 20px;
    }
    .fac-feature-box__content h2{
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 30px;
    }
    .fac-feature-box__content p{
        font-size: 19px;
        line-height: 25px;
    }
    .fac-feature-box__content > img {
        width: 259.99px;
        height: 173.46px;
    }
}

.fac-feature-box .govuk-button {
    float: none;
}

span.govuk-details__summary-text.govuk-heading-s {
    margin-bottom: 0;
}

dt.govuk-summary-list__key {
    width: 40%;
}

.fac-pagination__list-items {
    padding-inline-start: 0px;
    display: block;
    float: left;
    margin: 0;
}

.fac-pagination__summary {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    padding-bottom: 10px;
    padding-top: 10px;
    float: right
}

.fac-pagination__summary {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
}

.fac-pagination__summary {
    padding-bottom: 10px
}

.fac-pagination__summary {
    padding-top: 5px
}

.fac-pagination__item {
    display: inline-block
}

.fac-pagination__link {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none
}

.fac-pagination__link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px
}

.fac-pagination__link:hover,
.fac-pagination__link:focus {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    outline: 3px solid #fd0
}

.fac-pagination__link:hover,
.fac-pagination__link:focus {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
}

.fac-pagination__link--current {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: none;
    pointer-events: none;
    cursor: default
}

.fac-pagination__link--current:link,
.fac-pagination__link--current:visited {
    color: #000
}

.fac-visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

@media (min-width: 40.0625em) {

    .hide-button {
        display: none;
    }
}

@media (max-width: 40.0625em) {
    .fac-toggle-filters[open="true"] .govuk-details__text {
        display: none;
    }

    .showContent {
        display: none;
    }

    .fac-proto-watermark {
        font-size: 4em;
    }

    .fac-search-sort {
        display: block;
        float: left;
    }
}

@media (max-width: 900px) {
    .fac-pagination__summary, .fac-pagination__list-items {
        float: none;
        text-align: center;
    }
}

.govuk-width-container.margin-fix {
    margin: 0 auto !important;
}