/*div.dfc-app-triage-panel-banner {
    .triage-panel-search-form {
        section.triage-search-banner.primary-hero {
            .triage-search-item-wrapper {
                display: table;
                width: 90%;
                margin-bottom: 20px;

                .triage-select-label {
                    display: block;
                }

                select.triage-select {
                    display: inline-block;
                    width: 60%;
                    height: 46px;
                    margin: 0 10px;
                }

                button.triage-start-btn {
                }
            }
        }
    }

    background-color: #5694CA25;
}
div.dfc-app-triage-panel-banner {
    .triage-panel-search-form {
        .triage-select {
          @media (max-width: 43.75em) {
               width:100%;
               margin-bottom: 10px;
               margin-top:10px;
           }
        }
    }
  }*/
.dfc-app-triage-panel-banner {
    width: 100%;
    background-color: rgba(86, 148, 202, .25);
    padding-top: 30px;
    padding-bottom: 10px;

    .heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        margin-bottom: 5px;
    }

    .sub-heading {
        font-size: 19px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        margin-bottom: 0px;
    }
}

.dfc-app-triage-search-panel {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 1px #B1B4B6;
    border-right: solid 1px #B1B4B6;
    border-left: solid 1px #B1B4B6;
}
.dfc-app-triage-search-header-panel {
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 14px;
    background-color: #F3F2F1;
    border-top: solid 1px #B1B4B6;
    border-right: solid 1px #B1B4B6;
    border-left: solid 1px #B1B4B6;

    .dfc-app-triage-search-header {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        height: 20px;
        margin-right: 30px;
    }
}
.dfc-app-triage-page-number-panel {
    min-height: 36px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #0B0C0C;
    border-bottom: solid 1px #B1B4B6;
}

.dfc-app-filter-advice-group-result-container {
    margin-top: 30px;
    border-bottom: solid 1px #B1B4B6;
    padding-bottom: 30px;

    .heading {
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        display: block
    }

    .product-tile-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
.article-tile {
    min-height: 80px;
    background-color: #F3F2F1;
    padding: 20px 15px 30px 15px;
    border-bottom: solid 3px #B1B4B6;
    margin-top: 10px;
    min-width:330px;
  
    .tile-header {
        text-decoration: underline;
        color: #3670B3;
        font-size: 19px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
    }

    .tile-description {
        min-height: 40px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
}
.dfc-app-triage-filter-item {
    width: auto;
    min-height: 24px;
    height: auto;
}
.app-view-tile__explore-careers {
    border-bottom: solid 4px #5694CA;
}

.app-view-tile__explore-careers-header {
    background-color: #5694CA;
}

.app-view-tile__find-a-course {
    border-bottom: solid 4px #28A197;
}

.app-view-tile__find-a-course-header {
    background-color: #28A197;
}

.app-view-tile__skills-assessment {
    border-bottom: solid 4px #912B88;
}

.app-view-tile__skills-assessment-header {
    background-color: #912B88;
}

.app-view-tile {
    min-height: 123px;
    background-color: #F3F2F1;
    padding: 0px 0px 30px 0px;
    margin-top: 30px;

    .tile-header {
        width: 100%;
        height: 70px;
        position: relative;

        .app-view-tile-header-text {
            color: #FFFFFF;
            font-size: 19px;
            position: absolute;
            top: 30px;
            left: 10px;
            text-decoration: underline;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
        }

        .header-link {
            text-decoration: none;
        }

        .app-view-tile-header-image {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 48px
        }
    }

    .tile-description {
        min-height: 75px;
        margin-top: 10px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
    }
}
.triage-body {
    font-family: "GDS Transport",Arial,sans-serif;
}
@media (min-width: 40.0625em) {

    .dfc-app-triage-panel-banner {
        width: 100%;
        height: 180px;
        background-color: rgba(86, 148, 202, .25);
        padding-top: 90px;
        padding-bottom: 20px;

        .heading {
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            text-align: left;
            width: 690px;
            height: 90px;
        }

        .sub-heading {
            width: 690px;
            height: 40px;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            text-align: left;
        }
    }
    .dfc-app-triage-search-panel {
        width: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: solid 1px #B1B4B6;
        border-right: solid 1px #B1B4B6;
        border-left: solid 1px #B1B4B6;
    }

    .dfc-app-triage-search-header-panel {
        width: auto;
        padding-left: 20px;
        padding-top: 14px;
        padding-right: 20px;
        padding-bottom: 14px;
        background-color: #F3F2F1;
        border:0px;

        .dfc-app-triage-search-header {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            width: auto;
            height: 24px;
            margin-right: 30px;
        }
    }
    .dfc-app-triage-header {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        width: 690px;
        height: 100px;
        margin: 0px;
    }
    .dfc-app-triage-page-number-panel {
        width: auto;
        min-height: 41px;
        padding-top: 16px;
        font-size: 19px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        border-bottom: solid 1px #B1B4B6;
    }

    .dfc-app-filter-advice-group-result-container {
        margin-top: 40px;
        border-bottom: solid 1px #B1B4B6;
        padding-bottom: 30px;
        width: auto;

        .heading {
            width: auto;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            display: block
        }

        .product-tile-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }
    .article-tile:nth-child(3n) {
        margin-right: 0px;
    }
    .article-tile {
        min-width: 280px;
        min-height: 136px;
        background-color: #F3F2F1;
        padding: 30px 10px 30px 10px;
        border-bottom: solid 4px #B1B4B6;
        margin-right: 30px;
        margin-top: 30px;

        .tile-header {
            text-decoration:underline;
            color: #3670B3;
            width: 280px;
            font-size: 19px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
        }

        .tile-description {
            width: 280px;
            height: 75px;
            margin-top: 10px;
            font-size: 19px;
            font-weight: 300;
            line-height: 25px;
            text-align: left;
        }
    }

    .app-view-tile:nth-child(3n) {
        margin-right: 0px;
    }

    .app-view-tile__explore-careers {
        border-bottom: solid 4px #5694CA;
    }

    .app-view-tile__explore-careers-header {
        background-color: #5694CA;
    }
    .app-view-tile__find-a-course {
        border-bottom: solid 4px #28A197;
    }

    .app-view-tile__find-a-course-header {
        background-color: #28A197;
    }
    .app-view-tile__skills-assessment {
        border-bottom: solid 4px #912B88;
    }

    .app-view-tile__skills-assessment-header {
        background-color: #912B88;
    }

    .app-view-tile {
        min-width: 300px;
        min-height: 166px;
        background-color: #F3F2F1;
        padding: 0px 0px 30px 0px;
        margin-right: 30px;
        margin-top: 30px;

        .tile-header {
            width: 100%;
            height: 70px;
            position: relative;

            .app-view-tile-header-text {
                color: #FFFFFF;
                min-width: 260px;
                font-size: 19px;
                position: absolute;
                top: 30px;
                left: 10px;
                text-decoration: underline;
                font-weight: 700;
                line-height: 25px;
                text-align: left;
            }

            .header-link {
                text-decoration: none;
            }

            .app-view-tile-header-image {
                position: absolute;
                top: 10px;
                right: 10px;
                height: 48px
            }
        }

        .tile-description {
            min-width: 270px;
            min-height: 75px;
            margin-top: 10px;
            font-size: 19px;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 300;
            line-height: 25px;
            text-align: left;
        }
    }

    .dfc-app-triage-filter-item {
        width: 50%;
        min-height: 48px;
        height: auto;
    }
}

   

   

   

    .dfc-app-triage-select {
        width: 340px;
        height: 40px;
    }

   

    .dfc-app-triage-label {
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        width: auto;
        text-align: left;
        color: #0B0C0C
    }

    .dfc-app-triage-filter-header {
       
        span {
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
        }
    }

.dfc-app-triage-filter-sub-header {
 

    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        padding-left: 5px;
    }
}

    .dfc-app-triage-filter-advice-group-container {
        width: auto;
    }

    .dfc-app-triage-btn {
        height: 50px;
        padding: 13px 44px 13px 44px;
        border-radius: 44px 0px 0px 0px;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .triage-tool-sidebar {
    }



    ol.triage-result-list {
        list-style: none;
        padding-left: 0;

        li.triage-search-result-item {
            padding: 0;
            background-color: #fff;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: 0px solid #ccc;
            }

            h3 {
                margin-bottom: 5px;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .js-enabled {
        section.dfc-app-triage-panel-banner {
            .primary-hero {

                .triage-select-label {
                    display: inline-block;
                    margin-right: 10px;
                }

                .triage-start-btn {
                    display: none;
                    line-height: 1.1;
                }
            }
        }

        .filters {
            display: block;

            .filters-count, .clear-filters {
                display: block;
            }
        }
    }

    .filters-button, .js-enabled .filters-button, body .filters-button {
        display: none
    }

    /* show /hide */
    .triage-tool-results {
        display: none;

        @media (max-width: 43.75em) {
            display: block;
        }
    }

    .triage-tool-sidebar {
        display: block;

        @media (max-width: 43.75em) {
            display: none;
        }
    }

    .triage-hide, .triage-filter-hide {
        display: none;
    }

    .triage-show, .triage-filter-show {
        display: block;
    }
