div.dfc-app-lmi-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-width: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-family: "GDS Transport",Arial,sans-serif;

    .panel-heading {
      background-color: #207e77;
      color: white;
      font-size: 250%;
      overflow: hidden;
      position: relative;
      margin-top: -1px;
      margin-right: -1px;
      padding: 5px 10px;


      .panel-left {
        margin:0;
        padding:0;
        height: 110px;
        width: 110px;

        @media (max-width: 40.0625em) {
          float: left;
          width: 25%;
          width:80px; height:80px;
          padding: 0; margin:0
        }

      }
      .panel-left.job-decline {
        background: govuk-image-url("chart-line-solid3.svg") no-repeat left;

      }
      .panel-left.job-growth {
        background: govuk-image-url("chart-line-solid4.svg") no-repeat left;
      }
      .panel-right {
        text-align: right;
        float:right;
        font-weight: bold;
        padding-top: 10px;
        padding-right: 0;

        @media (max-width: 40.0625em) {
          float: right;
          width: 70%;
        }

        span {
          display: block
        }
      }
    }
    .panel-footer {
      padding:10px;
    }
}
.panel-green {
  border: 3px solid #207e77;
}
//qualification level panel
div.dfc-app-lmi-panel.panel-qualifications {
  display: flex;
  padding:10px;
  font-family: "GDS Transport",Arial,sans-serif;

  .panel-section-levels {
    background-color: #000;
    color: white;
    font-size: 300%;
    overflow: hidden;
    position: relative;
    margin-top: -1px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    font-weight: bold;

    @media (max-width: 43.75em) {
      width: 80px;
      height: 80px;
      float: left;
    }

    span {
      font-size:20px;
      display: block;
      padding-top: 11px;
      margin-bottom: -10px;
    }
  }
  .panel-section-description {
    padding:10px 0 10px 20px;

    @media (max-width: 40.0625em) {
      float: left;
      width: 80%;
    }
  }
}
