div.dfc-app-pages-alignment-left {
    text-align: left;
}

div.dfc-app-pages-alignment-right {
    text-align: right;
}

div.dfc-app-pages-alignment-centre {
    text-align: center;
}

div.dfc-app-pages-alignment-justify {
    text-align: justify;
    text-justify: inter-word;
}
