$app-warning-background-colour: #ffffff;
$app-warning-colour: #ff0000;

iframe.DfcAppContactUs-Webchat {
    border-width: 0px;
    height: 100%;
    width: 100%;
}

span.DfcAppContactUs-IsProdWarning {
    background-color: $app-warning-background-colour;
    color: $app-warning-colour;
}

span.DfcAppContactUs-IsProdHightlight {
    text-decoration: underline;
    color: $app-warning-colour;
}

div.DfcAppContactUs-IframeContainer {
    width: 100%;
    height: 1200px;
    -webkit-overflow-scrolling: touch;
}