div.dfc-app-pages-alignment-left {
    text-align: left;
}

div.dfc-app-pages-alignment-right {
    text-align: right;
}

div.dfc-app-pages-alignment-centre {
    text-align: center;
}

div.dfc-app-pages-alignment-justify {
    text-align: justify;
    text-justify: inter-word;
}


div.dfc-app-pages-triage-panel {
    // width: 960px;
    height: 323px;
    border-bottom: solid 4px;
    background-color: #f3f2f1;
    border-color: #b1b4b6;
    padding-left: 20px;

    .dfc-app-pages-triage-header {
        width: 469px;
        height: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
        font-family: Arial;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
    }

    .dfc-app-pages-triage-select {
        width: 340px;
        height: 40px;
        border: 2px solid;
        border-color: #000000;
        margin-bottom: 30px;
    }

    .dfc-app-pages-triage-label {
        font-family: GDS Transport Website;
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #0B0C0C
    }

    .dfc-app-pages-triage-sub-header {
        //styleName: Paragraph/Body;
        font-family: GDS Transport Website;
        font-size: 19px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        width: 613px;
        height: 48px;
        margin-bottom: 10px;
    }
}

.brand--ncs {
    .brand__color {
        &:link, &:visited, &:active, &:hover, &:focus {
            color: #0b0c0c;
        }
    }

    &.brand__border-color {
        border-color: #0b0c0c;
    }

    .brand__border-color {
        border-color: #0b0c0c;
    }
}

.organisation__brand-border-top {
    border-top-width: 5px;
    border-top-style: solid;
}


/* SOCIAL MEDIA icons */
.gem-c-share-links__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .gem-c-share-links__list-item {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        min-height: 32px;
        padding-left: 42px;
        padding-right: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 32px;

        .gem-c-share-links__link {
            font-family: "GDS Transport",Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.1428571429;
            margin-right: 30px;
            text-decoration: none;

            @media (min-width: 40.0625em) {
                font-size: 16px;
                line-height: 1.25;
            }

            &:hover, &:active, &:focus, &:visited:focus {
                outline: 3px solid transparent;
                color: #0b0c0c;
                background-color: #fd0;
                box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
                text-decoration: none;
                color: #0b0c0c !important;
            }

            .gem-c-share-links__link-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                height: 32px;
                vertical-align: top;
            }
        }
    }
}

.gem-c-share-links--stacked {
    .gem-c-share-links__list-item {
        display: block
    }
}

.direction-rtl .gem-c-share-links__link {
    display: inline-block;
    margin-right: 0;
    margin-left: 30px
}

.direction-rtl .gem-c-share-links__list-item {
    padding-left: 10px;
    padding-right: 42px
}

.direction-rtl .gem-c-share-links__link-icon {
    left: auto;
    right: 0
}

.brand--ncs {
    .brand__color {
        &:link, &:visited, &:active, &:hover, &:focus {
            color: #0b0c0c;
        }
    }
}

@media print {
    .gem-c-share-links__link {
        font-family: sans-serif
    }
}

@media print {
    .gem-c-share-links__link {
        font-size: 14pt;
        line-height: 1.2
    }
}

.gem-c-share-links--columns {
    .gem-c-share-links__list {
        display: grid;
    }

    &:after {
        content: "";
        display: block;
        clear: both
    }

    .gem-c-share-links__list-item {
        float: left;
        min-width: 150px
    }

    .gem-c-share-links__link {
        margin: 0
    }
}

.govuk-full-width-container > .govuk-grid-row {

    .govuk-grid-column-full {
        padding: 0px;
    }

    margin: 0 auto;
}

.hods-pagination__navigation__item {
    display: inline-block;
}

.fac-govuk-list {
    display: block;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;

    @media(max-width: 641px) {
        font-size: 0.875rem;
        line-height: 1.1428571429;
    }
}

.hods-pagination__navigation__item {
    display: inline-block;
}

.govuk-list--bullet {
    padding-inline-start: 40px;
}

.govuk-list--bullet > li, ul > li, .govuk-list--number > li, ol > li {
    margin-bottom: 5px;
}

.hods-pagination__navigation__link {
    padding: 5px 7px;
}

.hods-pagination__navigation__summary {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: .9rem;
    line-height: 1.25;
    font-weight: 400;
    float: right !important;

    @media(max-width: 641px) {
        display: none;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
}

.govuk-pagination {
    margin-bottom: 10px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(min-width: 40.0625em) {
    .govuk-pagination {
        margin-bottom: 10px
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
}

.govuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none
}

.govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-width: 40px;
    min-height: 40px;
    padding: 10px 10px;
    float: left
}

@media print {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-pagination__item:hover, .govuk-pagination__next:hover, .govuk-pagination__prev:hover {
    background-color: #f3f2f1
}

.govuk-pagination__item {
    display: none;
    text-align: center
}

@media(min-width: 40.0625em) {
    .govuk-pagination__item {
        display: block
    }
}

.govuk-pagination__prev, .govuk-pagination__next {
    font-weight: 700
}

.govuk-pagination__prev .govuk-pagination__link, .govuk-pagination__next .govuk-pagination__link {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}

.govuk-pagination__prev {
    padding-left: 0
}

.govuk-pagination__next {
    padding-right: 0
}

.govuk-pagination__item--current, .govuk-pagination__item--ellipses, .govuk-pagination__item:first-child, .govuk-pagination__item:last-child {
    display: block
}

.govuk-pagination__item--current {
    font-weight: 700;
    outline: 1px solid rgba(0,0,0,0);
    background-color: #1d70b8
}

.govuk-pagination__item--current:hover {
    background-color: #1d70b8
}

.govuk-pagination__item--current .govuk-pagination__link:link, .govuk-pagination__item--current .govuk-pagination__link:visited {
    color: #fff
}

.govuk-pagination__item--current .govuk-pagination__link:hover, .govuk-pagination__item--current .govuk-pagination__link:active {
    color: rgba(255,255,255,.99)
}

.govuk-pagination__item--current .govuk-pagination__link:focus {
    color: #0b0c0c
}

.govuk-pagination__item--ellipses {
    font-weight: 700;
    color: #505a5f
}

.govuk-pagination__item--ellipses:hover {
    background-color: rgba(0,0,0,0)
}

.govuk-pagination__link {
    display: block;
    min-width: 15px
}

.govuk-pagination__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.govuk-pagination__link:hover .govuk-pagination__link-title--decorated, .govuk-pagination__link:active .govuk-pagination__link-title--decorated {
    text-decoration: underline;
    text-underline-offset: .1em
}

.govuk-pagination__link:hover {
    text-decoration-thickness: 3px;
}

.govuk-pagination__link:hover .govuk-pagination__link-label, .govuk-pagination__link:hover .govuk-pagination__link-title--decorated, .govuk-pagination__link:active .govuk-pagination__link-label, .govuk-pagination__link:active .govuk-pagination__link-title--decorated {
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.govuk-pagination__link:focus .govuk-pagination__icon {
    color: #0b0c0c
}

.govuk-pagination__link:focus .govuk-pagination__link-label {
    text-decoration: none
}

.govuk-pagination__link:focus .govuk-pagination__link-title--decorated {
    text-decoration: none
}

.govuk-pagination__link-label {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: underline;
    text-underline-offset: .1em;
    display: inline-block;
    padding-left: 10px
}

@media print {
    .govuk-pagination__link-label {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination__link-label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-pagination__link-label {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-pagination__icon {
    width: .9375rem;
    height: .8125rem;
    color: #505a5f;
    fill: currentcolor;
    forced-color-adjust: auto
}

.govuk-pagination__icon--prev {
    margin-right: 5px
}

.govuk-pagination__icon--next {
    margin-left: 5px
}

.govuk-pagination--block {
    display: block
}

.govuk-pagination--block .govuk-pagination__item {
    padding: 15px;
    float: none
}

.govuk-pagination--block .govuk-pagination__next, .govuk-pagination--block .govuk-pagination__prev {
    padding-left: 0;
    float: none
}

.govuk-pagination--block .govuk-pagination__next {
    padding-right: 15px
}

.govuk-pagination--block .govuk-pagination__next .govuk-pagination__icon {
    margin-left: 0
}

.govuk-pagination--block .govuk-pagination__prev + .govuk-pagination__next {
    border-top: 1px solid #b1b4b6
}

.govuk-pagination--block .govuk-pagination__link, .govuk-pagination--block .govuk-pagination__link-title {
    display: inline
}

.govuk-pagination--block .govuk-pagination__link-title:after {
    content: "";
    display: block
}

.govuk-pagination--block .govuk-pagination__link {
    text-align: left
}

.govuk-pagination--block .govuk-pagination__link:focus .govuk-pagination__link-label {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.govuk-pagination--block .govuk-pagination__link:not(:focus) {
    text-decoration: none
}

.govuk-pagination--block .govuk-pagination__icon {
    margin-right: 5px
}
