div.dfc-app-pages-alignment-left {
    text-align: left;
}

div.dfc-app-pages-alignment-right {
    text-align: right;
}

div.dfc-app-pages-alignment-centre {
    text-align: center;
}

div.dfc-app-pages-alignment-justify {
    text-align: justify;
    text-justify: inter-word;
}

.brand--ncs {
	.brand__color {
		&:link, &:visited, &:active {
			color: #207e77;
		}
		&:hover,&:focus {
			color: #0b0c0c;
		}
	}
  &.brand__border-color{
    border-color: #207e77;
  }
  .brand__border-color{
    border-color: #207e77;
  }
}

.organisation__brand-border-top {
  border-top-width: 5px;
  border-top-style: solid;
}


/* SOCIAL MEDIA icons */
.gem-c-share-links__list  {
    list-style: none;
  margin: 0;
  padding: 0;

  .gem-c-share-links__list-item {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      min-height: 32px;
      padding-left: 42px;
      padding-right: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 32px;

      .gem-c-share-links__link {
          font-family: "GDS Transport",Arial,sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.1428571429;
          margin-right: 30px;
          text-decoration: none;

          @media (min-width: 40.0625em) {
              font-size:16px;
              line-height: 1.25;
          }

          &:hover, &:active, &:focus, &:visited:focus {
            outline: 3px solid transparent;
              color: #0b0c0c;
              background-color: #fd0;
              box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
              text-decoration: none;
              color: #0b0c0c !important;

          }

          .gem-c-share-links__link-icon {
              position: absolute;
              top: 0;
              left: 0;
              width: 32px;
              height: 32px;
              vertical-align: top;
          }
      }
  }
}
.gem-c-share-links--stacked {
  .gem-c-share-links__list-item {
      display: block
  }
}
.direction-rtl .gem-c-share-links__link {
  display: inline-block;
  margin-right: 0;
  margin-left: 30px
}

.direction-rtl .gem-c-share-links__list-item {
  padding-left: 10px;
  padding-right: 42px
}

.direction-rtl .gem-c-share-links__link-icon {
  left: auto;
  right: 0
}

.brand--ncs {
  .brand__color {
      &:link, &:visited, &:active {
          color: #207e77;
      }
      &:hover,&:focus {
          color: #0b0c0c;
      }
  }
}

@media print {
  .gem-c-share-links__link {
      font-family: sans-serif
  }
}

@media print {
  .gem-c-share-links__link {
      font-size: 14pt;
      line-height: 1.2
  }
}

.gem-c-share-links--columns {
  .gem-c-share-links__list {
      display: grid;
  }
  &:after {
      content: "";
      display: block;
      clear: both
  }
  .gem-c-share-links__list-item {
      float: left;
      min-width: 150px
  }
  .gem-c-share-links__link {
      margin: 0
  }
}
