.govuk-accordion__section-content {
	table.govuk-table {
		tr:last-child {
			td, th {
				border-bottom: 0;
			}
		}
	}
}

.ui-autocomplete {
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;

	@media(max-width: 641px) {
			max-height: 250px;
	}
}

/* ###### Location suggest ###### */
.location-suggest {
	display: none;
}
.location-suggest, .location-suggest-show {
	margin-top: 20px;

	.govuk-details .govuk-details__summary:before {
		display:none;
	}

	.govuk-details__summary {
		&:hover {
			color: #1d70b8;
		}
	}

	details {
		summary.govuk-details__summary {
			padding-left: 0;
			display: block;

			@media(min-width: 641px) {
					display: inline-block;
			}

			@media(min-width: 769px) {
					display: inline-block;
			}


			&:focus {
				color: #1d70b8;
			}
			&:hover {
				color: #1d70b8;
			}
		}
		.suggest-locations-text {
			padding: 0;
			max-height:11em;
			margin-top:10px;
			border-left: 5px solid #bfc1c3;
			overflow-y: auto;
			overflow-x: hidden;
			width: 100%;


			@media(min-width: 641px) {
			    max-height:20em;
			}

			@media(min-width: 769px) {
			    max-height:31em;
			}

				ul#suggested-locations {
					padding:.78947em;
					margin-top:0px;
					padding-bottom: 0;
					margin-bottom: 0;

					li {
						list-style: none;
						text-decoration: underline;
						margin-bottom:5px;
					}
				}
		}
	}
}

.location-suggest-show, .location-suggest {
	.suggest-locations-text {
		ul {
			li {
				button {
					background: none;
					border: 0;
					text-align: left;
					cursor:pointer;
					text-decoration: underline;
					color: #1d70b8;
					font-family: "GDS Transport",
					Arial,sans-serif;
					font-size:19px;

					@media(max-width: 641px) {
			      font-size:16px;
			    }

					&:hover {
				    color: #003078;
					}
					&:focus{
					    outline: transparent solid 3px;
					    background-color: #fd0;
					    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
					    text-decoration: none
					}
				}
			}
		}
	}
}

#fac-result-list, #classroom-details-block, #online-details-block, #work-details-block {
	a, span {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

/* ###### Location suggest END ###### */
#fac-result-list,  #classroom-details-block, #online-details-block, #work-details-block {
		p {
			word-wrap: break-word;
		}
}
