#ypfc-hero {
    a {
        background: transparent !important;
    }

    #main-content {
        padding-top: 50px !important;
    }

    .ypfc-hero {
        background: black;
        padding: 30px 0 30px 0;
        position: relative;
        margin: 1em calc(50% - 50vw);
    }

    .header-image-sub-extended {
        width: 223px;
    }

    .main-header-extended {
        font-size: 2.25rem !important;
    }

    .govuk-body-lead-extended {
        font-size: 1.1875rem;
        text-align: left;
    }

    .govuk-body-lead {
        color: white;
        font-size: 1rem;
    }

    .ypfc-hero .main-header {
        color: #fff;
        font-size: 2.6rem;
        font-weight: 700;
        text-align: left;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .heading-smaller-text {
        font-size: 1.06rem;
    }

    .ec-hero-black {
        background-color: #111;
        max-height: 23em;
        color: #ffffff;
        padding: 30px 0 10px;
    }

    .title-yellow {
        color: #ffff00;
    }

    .yellow-text {
        color: #FEEf00
    }

    .speech-details {
        font-weight: bold;
    }

    .main-header {
        font-size: 2.2rem !important;
    }

    .header-image {
        position: absolute;
        width: 500px;
        top: -60px;
    }

    .ypfc-link-header {
        color: #1D70B8;
        font-size: 24px;
    }

    .header-image-sub {
        width: 140px;
        position: relative;
        bottom: -150px !important;
        left: 220px;
    }

    .strapline {
        font-size: 1.1rem;
    }

    .blacktext {
        color: #feef00 !important;
    }

    a {
        background: transparent !important;
    }

    @media only screen and (min-width: 375px) and (max-width:434px) {
        .header-image { 
            right: -100px !important;
    }}

    @media only screen and (max-width: 768px) {
        .ypfc-hero .govuk-grid-column-one-half {
            width: 50%;
        }

        .header-image-sub {
            width: 130px;
            position: absolute;
            left: unset;
            right: 30px;
            bottom: 20px !important;
        }

        .header-image {
            position: absolute;
            width: 400px; 
            right: -70px;
            height: 250px;
            top: -40px;
            clip: unset;
        }

        .main-header {
            font-size: 1.3rem !important;
        }

        .govuk-body-lead {
            color: #fff;
            font-size: 0.9rem !important;
            text-align: left;
        }


        .strapline {
            font-size: 1.1rem !important;
            text-align: left;
        }
    }

}
///////////////////////////////////////////////////
#ypfc-sidebar {
    a {
        background: transparent !important;
    }

    .app-related-items a {
        font-size: 16px !important;
    }
}

#ypfc-main-body {
    a {
        background: transparent !important;
    }

    margin-top: -50px;

    .govuk-body-m {
        font-size: 1rem !important;
    }

    .ypfc-box-heading {
        color: #1d70b8 !important;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .govuk-heading-m a {
        color: #1D70B8 !important;
        text-decoration-thickness: 3px;
        line-height: 1.5;
    }

    .strong {
        font-weight: bold;
    }

    .inline-ul {
        text-align: right;
    }

    .inline-ul li {
        display: inline-block;
        margin-left: 10px;
    }

    .inline-ul li a {
        color: #1D70B8 !important;
    }

    .ypfc-box {
        background: #F5F5F5;
        height: 280px;
        padding-top: 20px;
        position: relative;
    }

    .govuk-grid-column-full {
        padding-top: 30px;
    }

    .govuk-body-m {
        font-size: 1.1rem;
    }

    .bold {
        font-weight: bold;
    }

    .image-t-level {
        position: absolute;
        width: auto;
    }

    .image-t-level-2 {
        position: absolute;
    }

   

    .ec-hero-black a {
        background: transparent !important;
    }

    .image-tlevel {
        max-height: 270px;
        max-width: 225px;
        display: flex;
        bottom: 0;
        right: 10px;
    }

    .image-apprent {
        max-height: 280px;
        max-width: 100%;
        display: flex;
        bottom: 0;
        right: 10px;
    }

    .image-kickstart {
        max-height: 300px;
        max-width: 100%;
        display: flex;
        bottom: 0;
        right: 2px;
    }

    .image-higher {
        max-height: 300px;
        max-width: 100%;
        display: flex;
        bottom: 0;
        right: 2px;
    }

    .image-trainee {
        max-height: 300px;
        max-width: 100%;
        display: flex;
        bottom: 0;
        right: 5px;
    }

    .image-intern {
        max-height: 280px;
        max-width: 100%;
        display: flex;
        bottom: 0;
        right: 0px;
    }

    .speak-to-advisor {
        margin-top: 30px;
    }

    .ncs-speak-to-advisor {
        background: #F2F6FA;
        margin-top: 100px;
        margin: 1em calc(50% - 50vw);
        margin-top: -30px;
    }

    .ncs-speak-to-advisor a {
        color: #1d70b8 !important;
        text-decoration: underline;
    }

    .ypfc-footer-links a:hover {
        color: #feef00 !important;
    }

    .footer-wrapper {
        padding: 0 20px 0 20px;
    }

    .footer-wrapper * {
        color: black;
    }

    .ec-hero-black a {
        color: white;
    }

    .ec-hero-black * {
        color: white;
    }

    .ec-hero-black {
        background: black;
        margin: 1em calc(50% - 50vw);
        padding: 30px;
        color: white;
    }

    .footer-wrapper a, .footer-wrapper strong {
        color: #1d70b8 !important;
    }

    .inline-ul li {
        display: inline-block;
        margin-left: 20px;
    }

    .inline-ul {
        text-align: right;
        font-family: "GDS Transport", Arial, sans-serif;
        font-size: 19px;
    }

    .custom-mobile-width-two-thirds{
        padding: 0;
    }


    

    @media only screen and (min-width: 641px) and (max-width: 768px) {
        .govuk-grid-column-one-third, .govuk-grid-column-two-thirds {
            float: unset !important;
        }
    }

    @media only screen and (min-width: 769px) and (max-width:880px) {
        .ypfc-box { 
            height: 430px !important;
    }}

    @media only screen and (min-width: 881px) and (max-width:989px) {
        .ypfc-box { 
            height: 330px !important;
        }

        .ypfc-box-text{
            width: 90%;
        }

}
    @media only screen and (min-width: 375px) and (max-width:409px) {
        .ypfc-box-text { 
            width: 80%;
    }}
    @media only screen and (min-width: 769px) and (max-width:880px) {
        .ypfc-box-text{
            width: 70%;
        }
    }
@media only screen and (min-width: 953px) {
    .ypfc-box-text-intern{
        width: 85%;
    }
    .ypfc-box-text-tlevels{
        width: 95%;
    }
}

    
    @media only screen and (min-width: 769px) {
        .govuk-grid-row {
            padding: 0;
            margin-top: 50px;
        }

        .ypfc-box {
            position: relative;
            background: white;
        }
 
        main {
            padding-bottom: 120px !important;
        }

        .ypfc-box .ncs-home-grid-wrapper {
            background: #F5F5F5;
            padding: 15px;
            box-shadow: 1px 1px 10px 1px #cccccc;
            height: 100%;
            text-align: left;
        }
        .ypfc-box .ncs-home-grid-wrapper:hover {
            outline: 2px solid black;
            border-radius: 2px;
        }

        .traineeship-box {
            height: 280px;
        }

        .image-tlevel {
            bottom: -30px;
            right: 15px !important;
        }

        .image-apprent {
            bottom: -30px;
        }

        .image-kickstart {
            bottom: 0;
            right: 2px;
            bottom: -30px;
            right: 20px;
            height: 280px;
        }

        .image-higher {
            bottom: -30px;
            right: 25px;
            height: 285px;
        }

        .image-trainee {
            bottom: -30px;
            right: 30px;
            height: 285px;
        }

        .image-intern {
            bottom: -30px;
            right: 13px;
        }

        .govuk-grid-column-full {
            padding: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .govuk-heading-m {
            font-size: 20px;
        }

        .ypfc-box {
            background: #f5f5f5;
            box-shadow: 1px 1px 10px 1px #cccccc;
            text-align: left;
        }

        .ec-hero-black {
            background: #000;
            margin: 1em calc(50% - 50vw);
            padding: 30px;
            color: #fff;
            text-align: left;
        }

        .govuk-body-m {
            font-size: 0.97rem !important;
        }

        .ypfc-box {
            margin-top: 30px !important;
            padding: 20px 15px 15px 15px;
            height: auto;
            position: relative;
            width: auto;
        }

        .ypfc-box:hover {
            outline: 2px solid black;
        }

        .ypfc-box .govuk-grid-column-two-thirds, .ypfc-box .govuk-grid-column-one-third {
            padding: 0;
        }

        .govuk-grid-column-full {
            padding-top: 0 !important;
        }

        .govuk-grid-row {
            padding: 0 15px 0 15px;
            margin-top: 30px;
        }

        .custom-mobile-width-two-thirds {
            width: 52%;
        }

        .custom-mobile-width-one-third {
            width: 33.3%;
        }

        .mobile-larger-half {
            width: 60% !important;
            padding: 0 !important;
        }

        .custom-grid-column-full {
            padding-left: 0;
        }

        .govuk-column-one-third-mobile-only {
            padding-left: 0 !important;
        }

        .ncs-home-grid-wrapper:hover {
            border: none !important;
            border-radius: 2px;
        }

        .inline-ul {
            left: -10px;
        }

        .image-kickstart {
            bottom: 0;
            max-height: 220px;
            right: 0 !important;
            height: 190px !important;
        }

        .image-intern {
            max-height: 230px;
            right: -10px;
        }

        .image-trainee {
            max-height: 270px;
        }

        .image-tlevel {
            max-height: 200px !important;
            right: 0 !important;
        }

        .image-trainee {
            max-height: 240px;
        }

        .image-apprent {
            max-height: 250px;
            right: 0px;
        }
    }
 
   
}
@media only screen and (max-width: 374px){ 
    .ypfc-hero .govuk-grid-column-one-half  {
         width: 100% !important;
         height: 280px;
    }
    .header-image{
        top: 255px !important;
        right: -40px !important;
    } 
    .header-image-sub{
        right: 60px !important;
        bottom: -10 !important;
    }
    .custom-mobile-width-two-thirds{
        width: 100% !important; 
    }
    .custom-mobile-width-one-third{
        height: 220px;
    }
} 