$govuk-assets-path: "/nationalcareers_toolkit/" !default;

@import "govuk-frontend/govuk/all";

/* Includes below to be deprecated soon */
@import "includes/hero-banner";
@import "includes/homepage";
@import "includes/search";

@import "includes/_cookie-banner.scss";

/* DYSAC imports which will be deprecated and added into custom live service patterns */
$app-purple: #8c0052;
$app-purple-hover: #A73C7B;
$app-turquoise: #207E77;
$app-turquoise-hover: #48948E;
$app-text-light: #646C70;
@import "dysac/controls";
@import "dysac/payscale";
@import "dysac/progress";
@import "dysac/question";
@import "dysac/results";
@import "dysac/resumepanel";
@import "dysac/savepanel";
@import "dysac/sendresults";
@import "dysac/sidebar";
@import "dysac/yourreference";

/* Comp UI and Child apps */
@import "compui/dfc-composite-shell";
@import "compui/dfc-app-contactus";
@import "compui/dfc-app-actionplans.scss";
@import "compui/dfc-app-pages.scss";
/* Import all custom and default patterns */
@import "patterns/all";
@import "fonts";