h1.heading-xlarge { font-size: 48px; }
h2.heading-large { font-size: 36px; } 
h3.heading-medium { font-size: 24px; }
h4.heading-small { font-size: 19px; }
p.lede { font-size: 24px; }
p { font-size: 19px; }
p.font-xsmall { font-size: 16px; }
a.external { font-size: 19px; line-height: 1.3157894737; }
a.external:after { content: "\A0\A0\A0\A0"; background-image: url(/gds_service_toolkit_BAU/images/external-link.png); background-repeat: no-repeat; background-position: right 6px; }
.link-back:link, .link-back:visited, .link-back:hover, .link-back:active { color: #0b0c0c; }
.link-back::before { content: ''; display: block; width: 0; height: 0; border-top: 5px solid transparent; border-right: 6px solid #0b0c0c; border-bottom: 5px solid transparent; position: absolute; left: 0; top: 50%; margin-top: -6px; }
ul, ol { list-style-type: none; }
.list { padding: 0; margin-top: 5px; margin-bottom: 20px; }
.list li { margin-bottom: 5px; }
.list-bullet { list-style-type: disc; padding-left: 20px; }
.list-number { list-style-type: decimal; padding-left: 20px; }