
/*grid-12*/ .sfL100,
/*grid-3+9*/ .sfL25_75,
/*grid-4+8*/ .sfL33_67,
/*grid-6+6*/ .sfL50_50,
/*grid-8+4*/ .sfL67_33,
/*grid-9+3*/ .sfL75_25,
/*grid-4+4+4*/ .sfL33_34_33,
/*grid-3+6+3*/ .sfL25_50_25,
/*grid-3+3+3+3*/ .sfL25_25_25_25,
/*grid-2+3+2+3+2*/ .sfL20_20_20_20_20,
/*container*/ .sfL100 {
    display: none !important;
}

.userAssetsToolboxItem {
    background-color: red !important;
}

.sf-backend-wrp .k-tabstrip.k-tabstrip--selection .k-content.k-state-active {
    clear: left;
}

.sf-backend-wrp .k-tabstrip.k-tabstrip--selection {
    clear: both;
}