/********************************************
ALL generic and pattern related CUSTOM Styles
should go here
*********************************************/

/* CUSTOM STYLES FOR ACCORDION Non Javascript Version  */
body .govuk-accordion__section-content {
	display: block;
}
.js-enabled .govuk-accordion__section-content {
	display: none;
}

body .govuk-accordion__section-button {
    color: #0b0c0c;

    &:focus {
        outline: none;
        color: #0b0c0c;
        background-color: transparent;
        box-shadow: none;
        cursor: text;
    }
}
.js-enabled .govuk-accordion__section-button {
    color: #005ea5;

    &:focus {
        outline: transparent solid 3px;
        color: #0b0c0c;
        background-color: #fd0;
        box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    }
}
body .govuk-accordion__section-button:hover:not(:focus) {
	text-decoration: none;
  cursor: text;
}
.js-enabled .govuk-accordion__section-button:hover:not(:focus) {
	text-decoration: underline;
  cursor: pointer;
}

body .govuk-accordion__icon {
    display:none;
}
.js-enabled .govuk-accordion__icon {
    display:inline-block;
}
/* END : CUSTOM STYLES FOR ACCORDION Non Javascript Version  */
