/* Custom banner and side styling (for example; changes from blue to green) */
.no-wrap {
	white-space: nowrap;
}
.show {
	display: :block;
	visibility: visible;
}
.hide {
	display: none;
	visibility: hidden;
}
