/*** Menu custom styles **/
body {
	@media (max-width: 40.0525em) {
		.govuk-header__navigation {
		    display: block;
		    margin: 0;
		    padding: 0;
		    list-style: none
		}
		.govuk-header__menu-button {
		    display: none;
		}
	}

	/* Accordions */
	.govuk-accordion__section-content {
		 display: block;
	}
	.govuk-accordion__section-button {
			color: #0b0c0c;
			background: transparent;
	    border: 0;
	    padding: 0;
	    padding-bottom: 10px;

			&:focus {
					outline: none;
					color: #0b0c0c;
					background-color: transparent;
					box-shadow: none;
					cursor: text;
			}
	}
	.govuk-accordion__section-button:hover:not(:focus) {
	 		text-decoration: none;
			cursor: text;
	}
	.govuk-accordion__icon {
			display:none;
	}
}


.js-enabled {

@media (max-width: 40.0525em) {
		.govuk-header__navigation {
		    display: none
		}
		.govuk-header__navigation--open {
		    display: block
		}
		.govuk-header__menu-button {
		    display: block
		}
	}
	/* Accordions */
	.govuk-accordion__section-content {
			display: none;
	}
	.govuk-accordion__section-button {
			color: #005ea5;
	    background: transparent;
	    border: 0;
	    padding: 0;

			&:focus {
					outline: transparent solid 3px;
					color: #0b0c0c;
					background-color: #fd0;
					box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
			}
	}
	.govuk-accordion__section-button:hover:not(:focus) {
			text-decoration: underline;
			cursor: pointer;
	}
	.govuk-accordion__icon {
			display:inline-block;
	}
}
