$govuk-assets-path: "/gds_service_toolkit/" !default;
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;

@import "../../../../node_modules/govuk-frontend/all";

/* Import all custom and default patterns */
@import "patterns/all";

//import branding styles
@import "branding/all";
