.govuk-footer {
  padding-bottom: 6em;
  @include govuk-media-query($from: desktop) {
    padding-bottom: govuk-spacing(9);
  }
}

.govuk-footer__section {
    margin-right: 0px !important;
    margin-left: 0px !important;
}