// HEADER and RELATED ITEMS

.govuk-header__container {
  border-bottom: transparent;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}


.govuk-secondary-colour {
  color: $govuk-secondary-text-colour;
}

// Change to header to change colour of blue border underneath header to green.
.govuk-header__container {
  border-bottom: 10px solid #207e77;
  @include govuk-media-query(desktop) {
    padding-top: 7px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0px 0px 4px;
  }
}

.app-related-items {
  //border-top: 10px solid govuk-colour("blue");
  border-top: 10px solid #207e77;
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-related-items {
  @extend .app-related-items
}

/* Custom styling moved from BAU */

// Yellow border highlight
.govuk-box-border-yellow {
  margin: 1em 0;
  padding: 2.2em 1em 2.2em;
  border: 4px solid #ffbf47;
}

.govuk-box-border-yellow-reduced {
  margin: 1em 0;
  padding: 1em 1em .5em;
  border: 4px solid #ffbf47;
}

.govuk-box-border-yellow-delete {
  margin: 1em 0;
  padding: 1.2em 1em 1.2em;
  border: 4px solid #ffbf47;
}

@media (max-width: 641px) {
  .govuk-box-border-yellow-delete {padding: 0 1em 0.2em;}

}

// Images for activity tests
.mechanical-images img {
  max-width: 100%;
}

// Link at bottom of SHC homepage

.buttonLink {
  @extend .govuk-body-m;
  color: #005ea5;
  background:none!important;
  border:none;
  padding:0!important;
  /*border is optional*/
  border-bottom:1px solid #444;
}

// Account login at top banner

.account-info {
  padding-left: 0;
  text-align: right;
  font-size: 14px;
  line-height: 1.1428571429;
  padding: 1em 0;
  border-bottom: 1px solid #bfc1c3;
}

.your-name {
  @extend .govuk-body-s
}

@media (min-width: 641px) {
  .account-info {
    font-size: 16px;
    line-height: 1.25;
  }
}

.account-info .your-name,#signin-link {
  padding: 0 .5em;
}

// Ipsos survey import
@import "ipsos";

// ******************** Accounts pages

.form-label {
  @extend .govuk-label
}

.w100 {
  @extend .govuk-input
}

input[type="text"] {
  @extend .govuk-input
}

#Identity_PersonalDetails_Title {
  @extend .govuk-select;
}

.form-hint {
  @extend .govuk-hint
}

#Identity_PersonalDetails_DateOfBirthDay {
  min-width: 0;
  @extend .govuk-input, .govuk-date-input__input, .govuk-input--width-2
}

#Identity_PersonalDetails_DateOfBirthMonth {
  min-width: 0;
  @extend .govuk-input, .govuk-date-input__input, .govuk-input--width-2
}

#Identity_PersonalDetails_DateOfBirthYear {
  min-width: 0;
  @extend .govuk-input, .govuk-date-input__input, .govuk-input--width-4
}

#Identity_PersonalDetails_Gender {
  @extend .govuk-select
}

#Identity_PersonalDetails_HomePostCode {
  @extend .govuk-input, .govuk-input--width-10
}

#Identity_PersonalDetails_AlternativePostCode {
  @extend .govuk-input, .govuk-input--width-10
}

#Identity_ContactDetails_ContactPreference {
  @extend .govuk-select
}

#CurrentPassword {
  @extend .govuk-input, .govuk-\!-width-one-half
}

#NewPassword {
  @extend .govuk-input, .govuk-\!-width-one-half
}

#ConfirmNewPassword {
  @extend .govuk-input, .govuk-\!-width-one-half
}

details {
  margin-top: 1em;
}

#Reason {
  height: initial;
  @extend .govuk-textarea;
}

#password {
  @extend .govuk-input, .govuk-\!-width-one-half
}

// ******************** End of accounts pages


// ******************** Warning component
.govuk-warning-text__icon {
	top:7%;
}
// ******************** End of warning component

//CUSTOM MESSAGES

.banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action, .banner-information-with-action, .banner-information-without-action, .banner-temporary-message-without-action {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;

	.banner-content {
		font-family: "nta", Arial, sans-serif;
		font-weight: 400;
		text-transform: none;
		font-size: 16px;
		line-height: 1.25;
		color: #0b0c0c;
		margin-top: 15px;
		margin-bottom: 15px;

		ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;

			li {
    			margin-bottom: 5px;
			}
		}
	}

	@media (min-width: 641px) {
		h2 {
			font-size: 24px;
			line-height: 1.25;
			font-weight: 700;
		}
		ul {
			li {
				color:#000;
			}
		}
	}

	@media (min-width: 641px) {
		.banner-content {
			font-size: 19px;
			line-height: 1.31579;
		}
	}
}



.banner-destructive-without-action, .banner-destructive-with-action {
    color: #b10e1e;
}

.banner-warning-with-action, .banner-warning-without-action {
    color: #cd4c0b;
}

.banner-success-with-action, .banner-success-without-action {
    color: #00823b;
}

.banner-action {
    margin-top: 10px;
    margin-bottom: 5px;
}

.banner-message {
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;

	@media (min-width: 641px) {
        font-size: 24px;
        line-height: 1.25;
}
}

.banner-information-with-action, .banner-information-without-action {
    color: #005ea5;
}