/* Overrides to map old GOV.UK styles (GOVUK_frontend_toolkit/GOVUK_elements) to new GOVUK-frontend styles */

// HEADER and RELATED ITEMS

.govuk-header__container {
  border-bottom: transparent;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}


.govuk-secondary-colour {
  color: $govuk-secondary-text-colour;
}

// Change to header to change colour of blue border underneath header to green.
.govuk-header__container {
  border-bottom: 10px solid #207e77;
  @include govuk-media-query(desktop) {
    padding-top: 7px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0px 0px 4px;
  }
}

.app-related-items {
  //border-top: 10px solid govuk-colour("blue");
  border-top: 10px solid #207e77;
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-related-items {
  @extend .app-related-items
}

// Update to entire tags such as <p> or <main>
body {
  @extend .govuk-template__body;
  @extend .app-body-class !optional;
  @extend .js-enabled
}

main {
  @extend .govuk-main-wrapper;
  @extend .app-main-class !optional;
}

p {
  @extend .govuk-body-m;
}

table {
  @extend .govuk-table
}

a {
  @extend .govuk-link
}

label {
  @extend .govuk-label
}
// Update to font-related classes

.heading-xlarge {
  @extend .govuk-heading-xl
}

.heading-large {
  @extend .govuk-heading-l
}

.heading-medium {
  @extend .govuk-heading-m
}

.heading-small {
  @extend .govuk-heading-s
}

.heading-secondary {
  @extend .govuk-caption-xl
}

.lede {
  @extend .govuk-body-lead
}

.font-xsmall {
  @extend .govuk-\!-font-size-16
}

.font-small {
  @extend .govuk-\!-font-size-19
}

.font-medium {
  @extend .govuk-\!-font-size-24
}

.font-large {
  @extend .govuk-\!-font-size-36
}

.font-xlarge {
  @extend .govuk-\!-font-size-48
}

.font-xxlarge {
  @extend .govuk-\!-font-size-80
}

// Update to other typography related classes

.list {
  @extend .govuk-list
}

.list-bullet {
  @extend .govuk-list--bullet
}

.list-number {
  @extend .govuk-list--number
}

// Update to grid layout related classes

.skiplink {
  @extend .govuk-skip-link
}

// Cookie
@import "cookie-banner";
#global-cookie-message {
  @extend .app-cookie-banner, .js-cookie-banner !optional;
  p {
    @extend .govuk-width-container
  }
}

.grid-row {
  @extend .govuk-grid-row
}

.column-two-thirds {
  @extend .govuk-grid-column-two-thirds
}

.column-full {
  @extend .govuk-grid-column-full
}

.column-one-half {
  @extend .govuk-grid-column-one-half
}

.column-one-third {
  @extend .govuk-grid-column-one-third
}

.column-one-quarter {
  @extend .govuk-grid-column-one-quarter
}

.form-group {
  @extend .govuk-form-group
}

// Update to component classes

.button {
  @extend .govuk-button
}

.button-start {
  @extend .govuk-button--start
}

.breadcrumbs {
  @extend .govuk-breadcrumbs;

  ol {
    @extend .govuk-breadcrumbs__list
  }

  li {
    @extend .govuk-breadcrumbs__list-item
  }

  a {
    @extend .govuk-breadcrumbs__link
  }
}

.footer-wrapper {
  @extend .govuk-footer
}

.visuallyhidden {
  @extend .govuk-visually-hidden
}

.visually-hidden {
  @extend .govuk-visually-hidden
}