
@include govuk-media-query($from: desktop) {
    .dual-checkbox-container {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        .govuk-checkboxes__item {
        max-width: 48%;
        }
    }

    .govuk-checkboxes__item {
        flex-basis: 48%;
        flex-grow: 0;
        box-sizing: border-box;
        flex-direction: row;
        margin: 5px;
    }
}
