// Homepage with 'rings' to navigate user through products

// Vertically and horizontally aligns text within eggs/rings
.eggs-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  background-color: rgba(33, 33, 33, .3);
}

// Horizontally aligns rings on mobile devices etc
.egg-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

// Styles for rings border and text / links within rings
.eggs {
  display: inline-block;
  position: relative;
  a {
    padding: 0.75em;
    width: 11.238em;
    height: 11.238em;
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #0b0c0c;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 0.625em solid #207e77;
    background-color: #f8f8f8;
    @media (max-width: 960px) {
      width: 9.375em;
      height: 9.375em;
      padding: 0em 0.5em 0.5em;
      border: 0.5em solid #207e77;
    }
    @media (max-width: 780px) {
      width: 7.813em;
      height: 7.813em;
      border: 0.375em solid #207e77;
    }
    @media (max-width: 440px){
      margin: 4px;
    }
    @media (min-width: 441px) and (max-width: 640px){
      margin: 4px;
    }
    span {
      background: #dee0e2;
      float: none;
      margin: 0 auto;
      width: 4em;
    }
    p {
      padding: 0 1em 0;
      @media (max-width: 960px) {
        font-size: 1.0em;
      }
      @media (max-width: 780px) {
        font-size: 1em;
        padding: 0;
      }
    }
    h3 {
      @media (max-width: 780px) {
        font-size: 1em;
      }
    }
  }
}

// Rings illuminate on devices which support hover - works along with JS file
body.hasHover {
  .eggs {
    a {
      &:hover {
        p {
          color: #ffffff;
        }
        h2 {
          color: #ffffff;
        }
        h3 {
          color: #ffffff;
        }
        background: #207e77;
        transition: .1s ease-in-out;
      }
    }
  }
}

// Margins for headings within rings - customised for mobile/tablet devices
.home-headings {
  margin-top: 0.6em;
  margin-bottom: 0.9em;
  font-size: 1.3em;
  @media (max-width: 960px) {
    margin-top: 1.7em;
    font-size: 1.1em;
  }
  @media (min-width: 760px) and (max-width: 960px) {
    font-size: 1.2em;
  }

}

// Explore careers homepage

.js-enabled {
  .homepage-top {
    #header-search {
      background: govuk-colour(white);
    }

    label {
      @include govuk-font(19);
      line-height: 40px !important;
      position: absolute;
      left: 0;
      top: 1px;
      z-index: 5;
      text-indent: 15px;
      color: #6f777b;
      width: 100%;
      box-sizing: border-box;
      white-space: nowrap;
      padding-right: 43px;
      overflow: hidden;
    }

    .search-input {
      background: transparent;

      &:focus, &.focus {
        background: govuk-colour(white);
      }
    }
  }
}

.homepage {
  .phase-banner {
    border-bottom: none;
  }
}

.homepage-top {
  background: #207e77;
  color: govuk-colour(white);
  padding: 25px 30px 15px;

  @include govuk-media-query(tablet) {
    padding: 30px 30px 10px;
  }

  .content-container {
    @include govuk-media-query(mobile) {
      margin: 0 -15px;
    }

    @include govuk-media-query(tablet) {
      margin: 0;
    }

    @include govuk-media-query(desktop) {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  #site-header {
    margin: 0 0 30px 0;
  }

  #header-search {
    position: relative;
    margin-bottom: 30px;
    @extend %contain-floats;
  }

  label {
  }

  .search-input-wrapper {
    box-sizing: border-box;
    padding-right: 40px;
    margin-right: -40px;
    float: left;
    width: 100%;
  }

  .search-input {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    padding: 6px;
    @include govuk-font(19);
    margin: 0;
    border: 0;
    outline-offset: 0;
    height: 40px;
    background-color: govuk-colour(white);

    &:focus {
      z-index: 1000;
    }
  }

  .submit {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    text-indent: 50000px;
    background: govuk-colour(black);
    background-image: govuk-image-url("icon-search-2x.png");
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 24px;
    float: left;
    padding: 6px;
    border: 0;
    color: govuk-colour(white);
    z-index: 900;
    position: relative;
  }
}

.homepage-jobcategories {
  li {
    padding-bottom: 0.263em;
    margin-top: 0.263em;
    display: inline-block;
    width: 100%;
  }

  @include govuk-media-query(tablet) {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
  }

  @include govuk-media-query(desktop) {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
  }

  a {
    @include govuk-font(19, bold);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}