// Blocks used with icons

.pound-block {

  &:before {
    background: govuk-image-url("pound-sign.svg") no-repeat center;
  }

  &:after {
    content: "";
    display: block;
    right: 0;
    position: absolute;
    width: calc(100% - 60px);
    border-bottom: 4px solid #207e77;
    top: 45px;
  }

  p {

    span {
      margin-top: 20px;
      position: relative;
    }

    &:nth-child(1) {
      float: left;

      span {
        &:before {
          content: "|";
          font-size: 20px;
          position: absolute;
          font-weight: bold;
          top: -21px;
          left: -2px;
        }
      }
    }

    &:nth-child(3) {
      float: right;
      text-align: right;


      span {
        text-align: right;

        &:after {
          content: "|";
          font-size: 20px;
          position: absolute;
          font-weight: bold;
          top: -21px;
          right: -2px;
        }
      }
    }
  }


  @media (max-width: 749px) {

    &:after {
      display: none;
    }

    &:before {
      display: none;
    }

    i {
      margin: 0 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
    }

    p {
      margin: 0;
      float: left;
      text-align: left;



      &:nth-child(even) {
        float: left;
      }

      span {
        margin-top: 0;

        &:after, &:before {
          display: none;
        }
      }
    }
  }
}

.clock-block {
  &:before {
    background: govuk-image-url("clock.svg") no-repeat center;
  }

  p {
    margin-left: 60px;
  }
}

.calendar-block {
  &:before {
    background: govuk-image-url("calendar-alt.svg") no-repeat center;
  }

  p {
    margin-left: 60px !important;
  }
}
.chart-line-block {
  &:before {
    background: govuk-image-url("chart-line-solid2.svg") no-repeat center;
  }
}
