// govuk-tag
.govuk-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #ffffff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
	margin-left:10px;
  }

  @media (min-width: 40.0625em) {
	.govuk-tag {
		font-size: 1.6rem;
		line-height: 1;
	}
}

  .govuk-tag--inactive {
    background-color: #505a5f;
  }

  .govuk-tag--grey {
    color: #383f43;
    background: #eeefef;
  }

  .govuk-tag--purple {
        color: #3d2375;
    background: #dbd5e9;
  }

  .govuk-tag--turquoise {
    color: #10403c;
    background: #bfe3e0;
  }

  .govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
  }

  .govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
  }

  .govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
  }

  .govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
  }

  .govuk-tag--pink {
        color: #80224d;
    background: #f7d7e6;
  }

  .govuk-tag--green {
        color: #005a30;
    background: #cce2d8;
  }


  .govuk-inset-text {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6
}

@media print {
    .govuk-inset-text {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-inset-text {
        font-size:19px;
        line-height: 1.31579
    }
}

@media print {
    .govuk-inset-text {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media print {
    .govuk-inset-text {
        color: #000
    }
}

@media (min-width: 40.0625em) {
    .govuk-inset-text {
        margin-top:30px
    }
}

@media (min-width: 40.0625em) {
    .govuk-inset-text {
        margin-bottom:30px
    }
}

.govuk-inset-text>:first-child {
    margin-top: 0
}

.govuk-inset-text>:only-child,.govuk-inset-text>:last-child {
    margin-bottom: 0
}

/* Bulleted list */
.govuk-list {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none;

    .govuk-list {
        margin-top: 10px
    }
}

@media (min-width: 40.0625em) {
    .govuk-list {
        font-size:19px;
        line-height: 1.3157894737;
        margin-bottom: 20px
    }
}

@media print {
    .govuk-link--text-colour:link:focus {
        color: #000
    }

    .govuk-list {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

.govuk-list>li {
    margin-bottom: 5px
}

.govuk-list--bullet {
    padding-left: 20px;
    list-style-type: disc
}

.govuk-list--number {
    padding-left: 20px;
    list-style-type: decimal
}

.govuk-list--bullet>li,.govuk-list--number>li {
    margin-bottom: 0
}
