.ncs-highlight-box {
    .ncs-highlight-box__card {
        min-height: 170px;
        background: $light_blue_25;
        padding: 10px;
        margin-bottom: 15px;

        &:hover h3 {
            text-decoration: underline;
            color: $primary_black;
        }
    }

    .ncs-highlight-box__link {
        text-decoration: none;
    }
}

@media (max-width: 640px){
    .ncs-highlight-box__card {
        min-height: auto;
    }
}